<div *ngIf="resume">
    <div class="heading-badge mat-elevation-z6">
        <h1>{{resume.name}}</h1>

        <img class="profile-picture" src="{{resume.photo}}">

        <h2>{{getTagline()}}</h2>

        <app-social-links [linkedIn]="resume.links.LinkedIn" [gitHub]="resume.links.GitHub"></app-social-links>
    </div>

    <mat-toolbar id="scroll-nav" class="mat-elevation-z6">
        <h1>{{resume.name}}</h1>

        <app-social-links [linkedIn]="resume.links.LinkedIn" [gitHub]="resume.links.GitHub"></app-social-links>
    </mat-toolbar>
</div>