<div *ngIf="resume">
    <div class="heading-badge mat-elevation-z6">
        <h1>{{resume.name}}</h1>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

        <h2>{{resume.tagline}}</h2>

        <app-social-links [linkedIn]="resume.links.LinkedIn" [gitHub]="resume.links.GitHub"></app-social-links>
    </div>

    <mat-toolbar id="scroll-nav" class="mat-elevation-z6">
        <div>
            <h1>{{resume.name}}</h1>
            <h2>{{resume.tagline}}</h2>
        </div>

        <app-social-links [linkedIn]="resume.links.LinkedIn" [gitHub]="resume.links.GitHub"></app-social-links>
    </mat-toolbar>
</div>