.content {
    max-width: 700px;
    margin: 20px auto 0px auto;
}

h1 {
    font-size: 25px;
    font-weight: 400;
}

p {
    text-align: justify;
}

mat-card {
    padding: 25px;
}

mat-card:first-child {
    margin-top: 30px;
}

mat-card:last-child {
    margin-bottom: 50px;
}