<div class="center-social">
    <a href="{{gitHub}}" target="_blank">
        <button mat-raised-button class="no-padding margin-right">
            <img src="https://media.licdn.com/dms/image/C560BAQGO4Mxhy8KAgQ/company-logo_200_200/0?e=1583971200&v=beta&t=jJ-BNwvNEFQP_rU04gqMiW0e98rlro8H8ZOsZI8HAe4"
                class="social-images right-margin">
        </button>
    </a>

    <a href="{{linkedIn}}" target="_blank">
        <button mat-raised-button class="no-padding">
            <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"
                class="social-images">
        </button>
    </a>
</div>